<head>
    <title>CX Amplified </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
 </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navigation">
        <div class="cxlogo" id="infinity"> </div>
        <a class="navbar-brand logo"  href="/">CX | Amplified </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        <div class="navbar-collapse collapse" id="navbarColor01" style="">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About </a>
            </li>
      
          </ul>
          <% if (!currentUser) { %>
          <div class="navanchor">
            <a href="/login" >Login</a>
          </div>      
          <div class="navanchor">
            <a href="/register" >Register</a>    
         </div>
         <% } else { %> 
        <div class="navanchor">
            <a href="" ><%= currentUser.username %> </a></div>
        </div>
         <div class="navanchor">
            <a href="/logout" >Log Out</a></div>
        </div>
        <% } %>
    </nav>
