<%- include('./partials/header'); -%>

<div class="header">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="video.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h3 class="display-4">Customer Experience </h3>
          <p class="lead mb-0">Why does CX matter in our current world !!</p>
        </div>
      </div>
    </div>
  </div>
  


<%- include('./partials/footer') -%>