<%- include('./partials/header'); -%>
<div class="container text-center">
    <h1> Login</h1>
    <div class="d-flex p-2 text-left">  
        
        <form action="/login" method="POST" > 
            <h5>Username:</h5> 
            <input class="form-control"  type = "text" name="username" placeholder="Username">
            <h5>Password</h5> 
            <input  class="form-control" type="password" placeholder="Password" name="password"> 
            <button class="btn btn-success" style="display:block;margin-top:20px; ">Login</button>
        </form> 
    </div>
 
</div>


<%- include('./partials/footer') -%>