<%- include('./partials/header'); -%>
<h1> Register</h1>
<form action="/register" method="POST" > 
    <h5>Username:</h5> 
    <input type = "text" name="username" placeholder="User Name">
    <h5>Password</h5> 
    <input type="password" placeholder="Password" name="password"> 
    <button>Register</button>
</form>



<%- include('./partials/footer'); -%>