<%- include('./partials/header'); -%>
<div class="container" style="margin-top:50px;">
    <div class="container text-left" style=" box-shadow: 1px 3px 15px #d7d7d7; padding:50px; max-width: 450px; background: whitesmoke; padding:30px;">
        <h5 class="text-center"> Reset Password</h5>
        <form id="resetSubmit" autocomplete="off" action="/reset/<%= token %>" method="POST" style="width: 100%;"  > 
            
            <label  data-toggle="tooltip" title="Password must have the folllowing "  style="padding-top:5px; ">Password</label> 
            <input  class="form-control"  id="password" type="password" placeholder="Password" name="password" style="width: 100%;"  required> 

            <div id="message">
                <h5>Password must contain the following:</h5>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>

            <label style="padding-top:5px; ">Retype - Password</label> 
            <input  class="form-control" type="password" placeholder="Retype - Password" name="confirm" style="width: 100%;" required> 

            <button class="btn btn-success" style="display:block;margin-top:20px; width:100%;">Submit</button>
        </form>
    </div>


<style>

.navigation{
    border-bottom: .3px solid #cececed9;
    background-color: #ffffff!important;
    box-shadow: 1px 3px 15px #d7d7d7;
}

.navanchor{
 color:grey;
 padding:1px 20px;
 margin:2px 5px;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #3e3d3d ;
}

.logo{

    color: #3e3d3d !important;
    margin-right: 4%;
}

.navanchor a {

    color: #3e3d3d !important;
}

.nav-link{

    color:  #3e3d3d !important;
}

#infinity {
    position: relative;
    width: 58px;
    box-sizing: content-box;
    top: -11px;
    margin-right: 20px;
  }
  #infinity:before,
  #infinity:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 3px solid #3e3d3d ;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
  }
  #infinity:after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
  }

  .navbar-toggler{
      background-color: #3e3d3d;
  }


  /* The message box is shown when the user clicks on the password field */
  #message {
          display:none;
          background: #f1f1f1;
          color: #000;
          position: relative;
          padding: 10px;
          margin-top: 10px;
        }
        
        #message p {
          padding: 5px 35px;
          font-size: 10px;
        }
        
        /* Add a green text color and a checkmark when the requirements are right */
        .valid {
          color: green;
        }
        
        .valid:before {
          position: relative;
          left: -35px;
          content: "✔";
        }
        
        /* Add a red text color and an "x" when the requirements are wrong */
        .invalid {
          color: red;
        }
        
        .invalid:before {
          position: relative;
          left: -35px;
          content: "✖";
        }

</style>


<script>
    var myInput = document.getElementById("password");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    
    // When the user clicks on the password field, show the message box
    myInput.onfocus = function() {
      document.getElementById("message").style.display = "block";
    }
    
    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function() {
      document.getElementById("message").style.display = "none";
    }
    
    // When the user starts to type something inside the password field
    myInput.onkeyup = function() {
      // Validate lowercase letters
      var lowerCaseLetters = /[a-z]/g;
      if(myInput.value.match(lowerCaseLetters)) {  
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
      }
      
      // Validate capital letters
      var upperCaseLetters = /[A-Z]/g;
      if(myInput.value.match(upperCaseLetters)) {  
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
      }
    
      // Validate numbers
      var numbers = /[0-9]/g;
      if(myInput.value.match(numbers)) {  
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
      }
      
      // Validate length
      if(myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
      }
    }
</script>

<script>

    $('#resetSubmit').submit(function() {
      var pass = $('input[name="password"]').val();   
      var rpass = $('input[name="confirm"]').val(); 
       if(pass != rpass )
      {
          alert("passwords do not matach. Please ensure your password matches with the retype password: " +pass + "   " + rpass ); 
          return false; 
      } 
    
     
      return true; 
    });
    
    </script>

<%- include('./partials/footer') -%>